<h1>Create New Contact</h1>

<%= form_tag "/contacts", method: :post do %>
  <div>
    First Name: <input type="text" name="first_name">
  </div>
  <div>
    Last Name: <input type="text" name="last_name">
  </div>
  <div>
    Email: <input type="text" name="email">
  </div>
  <div>
    Phone Number: <input type="text" name="phone_number">
  </div>
  <input type="submit" name="Create New Contact">
<% end %>